.App {
  display: flex;
  background-color: #efefef;
  min-height: 100vh;
  text-align: center; 
  flex-direction: column;
}

.questionContainer{
  margin-top: 15vh;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 15px;
}